.home-header-container {
  height: 80px;
  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: #edfffa;
  z-index: 100;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .left-content {
      width: 20%;
      display: flex;
      gap: -30px;
      i {
        font-size: 30px;
        color: grey;
        align-items: center;
        padding-top: 8px;
      }
      .header-logo {
        background: url("../../assets/logo.png") center center no-repeat;
        cursor: pointer;
        width: 100px;
        background-size: 31%;
        margin-left: -20px;
      }
      .name-web {
        color: #ff9900;
        font-weight: 700;
        font-size: 30px;
      }
    }

    .center-content {
      width: 55%;
      display: flex;
      align-items: center;
      gap: 50px;

      .child-content {
        font-size: 25px;
        font-family: "Times New Roman", Times, serif;
        font-weight: 100;
        opacity: 0.9;
        cursor: pointer;
        :hover {
          color: aqua;
        }
      }
    }

    .right-content {
      width: 25%;
      display: flex;
      justify-content: flex-end;

      .support {
        padding-right: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 15px;
          margin-right: 5px;
        }
      }

      .language-vi {
        cursor: pointer;
        img {
          height: 25px;
          width: 25px;
        }

        &.active,
        &:hover {
          color: orange;
          opacity: 1;
        }
      }

      .language-en {
        margin: 0 10px;
        cursor: pointer;
        img {
          height: 25px;
          width: 25px;
        }

        &.active,
        &:hover {
          color: blue;
          opacity: 1;
        }
      }
    }
  }
}

.home-header-banner {
  background: url(../../assets/header-background.jpg);
  background-size: cover;
  height: 485px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;

  .content-up {
    background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
    padding-top: 60px;
    height: 65%;

    .title1 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 15px;
      color: gray;
    }

    .title2 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 15px;
    }

    i {
      margin: 0 5px;
    }

    input {
      height: 30px;
      width: 360px;
      background: transparent;
      border: none;
      outline: none;
    }
  }

  .content-down {
    height: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    padding-bottom: 10px;

    .options {
      text-align: center;
      display: flex;
      gap: 50px;
      justify-content: center;

      .option-child {
        .icon-child {
          background: white;
          width: 100px;
          height: 100px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;

          i {
            color: #1ecccf;
            font-size: 70px;
          }
        }

        .text-child {
          font-size: 17px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            color: #49bce2;
          }
        }
      }
    }
  }
}
